{
    "extends": [
        "@akashic/eslint-config",
        "prettier"
    ],
    "parserOptions": {
        "project": "src/renderer/tsconfig.eslint.json",
        "sourceType": "module"
    },
    "plugins": [
        "prettier",
        "html"
    ],
    "ignorePatterns": [
        "img",
        "*.json"
    ]
}
